
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

Hola

<p>
    Ingrese al modulo
    <a asp-controller="Banco" asp-action="Create">Agregar Nuevo</a>
</p>
